<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- tittle %>
    <% if(show){ %>
        <span>測試if程式碼</span>
    <% } %>        

    <h2><%= boss %></h2>
    <ul>
    <%  for(var i=0; i<array.length ;i++){ %>
            <li> <%- array[i] %> </li>
    <% } %>
    </ul>
    user
</body>
</html>